.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  min-width: 240px;
}

.sidebar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav ul li {
  padding: 8px 16px;
  background: #e2e8f0;
  border-radius: 4px;
  margin-bottom: 8px;
  color: #0f172a;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.sidebar-nav ul li.nav-item .teamname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamname-tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  top: calc(100% + 5px);
  left: 0;
  padding-left: inherit;
  /* transform: translateX(-50%); */
  padding: 5px;
  z-index: 10;
  font-size: 12px;
  pointer-events: none;
  min-width: max-content;
}

.teamname:hover .teamname-tooltip {
  display: block;
}

.nav-item {
  overflow: visible !important;
}

.sidebar-nav ul li.nav-item {
  overflow: visible !important;
}

.sidebar-nav .dropmenu {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

.sidebar-nav .dropmenu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.sidebar-nav .dropmenu-button img {
  width: 24px;
  height: 24px;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 155px;
  height: fit-content;
  z-index: 10;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  border: 1px solid #000;
}

.menu .invite,
.menu .delete {
  font-size: 16px;
  font-weight: 500;
  height: 100%;
}

.menu .invite {
  margin-bottom: 8px;
}

/* 사용자 정보 (하단) */
.sidebar-footer {
  position: relative;
  margin-bottom: 50px;
}

.sidebar-footer .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.btn-logout {
  width: 100%;
  padding: 12px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-menu {
  top: 100%;
}

.user-menu {
  display: flex;
  padding: 12px;
  width: 151px;
  height: 51px;
  bottom: 100%;
}
